#header{
	align: center;
	height:10%;
	background-color:#F3F2ED;
	margin:20%;
	padding:20%;
	}


#footer{
	align: center;
	height:90%;
	background:#BFBD93;
	border-top:#FFFFFF 2px solid;
	margin:20%;
	padding:20%;
	}
