body {
  background-image: url("https://serusan.github.io/seru.jpg");
  background-repeat: no-repeat;
}
h1 {
  color: blue;
}
p {
  color: red;
}
div {
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}
